# Database
DB_HOST=test.41242123.us-east-2.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=xxxxxxxxxx
DB_NAME=test
PGSSLMODE=no-verify

# Redis
REDIS_URL=redis://localhost:6379

# Application
PORT=3000